@use '../../lib/service.scss' as s;
@use '../../lib/spotify.scss' as spotify;

.alert {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;

	width: 100%;
    max-width: 720px;
	padding: s.space(5);
	margin: s.space(3);
	gap: s.space(8);


	&__content {
	display: flex;
	flex-direction: column;


	color: s.color(white);
	gap: s.space(4);
	font-size: 16px;
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
	}
}

a {
	color: s.color(white);
	text-decoration: none;
  }
 

