<div class="alert">
	<div class="alert__content">
		{{#with data}}
		<h1 class="alert__title">{{message}}</h1>
		<div class="alert__info">{{info}}</div>
	</div>
	<button class="form__button"> <a href="{{link}}">Go back</a> </button>
	{{/with}}
</div>

