@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;


body {
	font-family: 'Roboto', sans-serif;
	padding: 100px;
	background-color: s.color(dark);
	display: flex;
	justify-content: center;
}